<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td>
			<div class="videoPlayer" dojoAttachPoint="videoContainer">&nbsp;</div>
		</td>
	</tr>
   <tr>
        <td dojoAttachPoint="controlsContainer">
            <input type="button" value="Play" 
                dojoAttachPoint="startStopButton"
                dojoAttachEvent="onClick: togglePaused;">
            <input type="button" value="Rewind" 
                dojoAttachPoint="rewindButton"
                dojoAttachEvent="onClick: rewindVideo;">
        </td>
    </tr>
</table>
